.preloader{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    min-height: 568px;
    max-height: auto;
    border: 1px solid #758BFD;
    border-radius: 5px;
    background-color: #758BFD;
    margin-left: calc( (100vw - 21rem)/2);
    margin-right: calc( (100vw - 20rem)/2);
    margin-top: calc( (100vh - 36rem)/2);
    margin-bottom: calc( (100vh - 39rem)/2);
}

.friendslist{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    min-height: 568px;
    max-height: auto;
    border: 1px solid #758BFD;
    border-radius: 5px;
    background-color: #758BFD;
    margin-left: calc( (100vw - 21rem)/2);
    margin-right: calc( (100vw - 20rem)/2);
    margin-top: calc( (100vh - 36rem)/2);
    margin-bottom: calc( (100vh - 39rem)/2);

    &__top{
        display: flex;
        align-items: center;

        &--img{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit:cover;
            object-position: 25% 0%;
            background-color: #27187E;
            position: relative;
            right: 0.25rem;
            top: 0.5rem;
        }

        &--header{
            font-size: 1.5rem;
            margin-left: 1.5rem;
            background-color: #AEB8FE;
            border-radius: 10px;
            padding: 0.5rem 1rem 0.5rem 1rem;
            width: 11.5rem;
            text-align: center;
            position: relative;
            top: 0.5rem;
        }
    }

    &__search{
        display: flex;
        align-items: center;

        &--back{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FFFFFF;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            position: relative;
            top: 0.45rem;

            &--img{
                height: 1.5rem;
                width: 1.5rem;
                cursor: pointer;
            }

        }

        &--icon{
            width: 1.5rem;
            position: relative;
            top: 0.6rem;
            left: 2rem;
        }

        &--input{
            margin-top: 1rem;
            padding: 0 0 0 2.5rem;
            border: none;
            border-radius: 10px;
            height: 2rem;
            width: 15rem;
            
            &:focus{
                outline: none;
                font-size: 1rem;
            }

            &::placeholder{
                font-size: 1rem;
                color: #000000;
            }
        }
    }
}