@use '../../styles/partials/typography' as *;
@use '../../styles/partials/_mixins' as *;
@use '../../styles/partials/_variables' as *;

.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    min-height: 568px;
    max-height: auto;
    border: 1px solid #758BFD;
    border-radius: 5px;
    background-color: #758BFD;
    margin-left: calc( (100vw - 21rem)/2);
    margin-right: calc( (100vw - 20rem)/2);
    margin-top: calc( (100vh - 36rem)/2);
    margin-bottom: calc( (100vh - 39rem)/2);

    .link{
        text-decoration: none;
        color: #FFFFFF;
    }

    &__logo{
        width: 100%;
    }

    &__form{
        display: flex;
        flex-direction: column;
        align-items: center;

        &--heading{
            font-size: 1.5rem;
            font-weight: 400;
            color: #FFFFFF;
            position: relative;
            bottom: 5rem;
        }

        &--username{
            text-align: center;
            position: relative;
            bottom: 5rem;
            border-radius: 5px;
            border: 2px solid #AEB8FE;
            padding: 0.5rem 0 0.5rem 0;
            background-color: #AEB8FE;

            &::placeholder{
                text-align: center;
                font-size: 0.8rem;
                color: #000000;
            }

            &:hover{
                cursor: pointer;
                border: 2px solid #27187E;
            }

            &:focus{
                outline: none;
                border: 2px solid #27187E;
            }
        }

        &--password{
            text-align: center;
            position: relative;
            bottom: 4.5rem;
            border-radius: 5px;
            border: 2px solid #AEB8FE;
            padding: 0.5rem 0 0.5rem 0;
            background-color: #AEB8FE;

            &::placeholder{
                text-align: center;
                font-size: 0.8rem;
                color: #000000;
            }

            &:hover{
                cursor: pointer;
                border: 2px solid #27187E;
            }

            &:focus{
                outline: none;
                border: 2px solid #27187E;
            }
        }

        &--bottom{
            display: flex;
            align-items: center;
            position: relative;
            bottom: 3rem;
            left: 0.5rem;

            &--back{
                display: flex;
                align-items: center; 
                justify-content: center;   
                position: relative;
                top: 0rem;
                right: 1rem;
                background-color: #FFFFFF;
                border-radius: 50%;
                width: 2.25rem;
                height: 2.25rem;

                &--icon{
                    width: 1.5rem;
                    height: 1.5rem;    
                }

                &:hover{
                    cursor: pointer;
                    border: 2px solid #27187E;
                }
            }

            &--submit{
                text-align: center;
                font-size: 0.8rem;
                border-radius: 5px;
                border: 2px solid #AEB8FE;
                padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                background-color: #AEB8FE;
    
                &:hover{
                    cursor: pointer;
                    border: 2px solid #27187E;
                }
            }    
        }

        &--error{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            position: relative;
            bottom: 3.75rem;
            animation: morph 0.5s infinite;
            font-weight: 600;
        }

        &--success{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            position: relative;
            bottom: 3.75rem;
            animation: successful 0.5s infinite;
            font-weight: 600;
        }
    }

    &__sign-up{
        margin: 0 0 1rem 0;
        font-size: 1.2rem;
        color: #FFFFFF;

        &--link{
            margin: 0;

            &:hover{
                cursor: pointer;
                color: #27187E;
            }
        }
    }
}

@keyframes morph {
    0% { color: red; }
    50% { color: rgb(252, 235, 8); }
    100% { color: red; }
  }

  @keyframes successful {
    0% { color: rgb(21, 255, 0); }
    50% { color: rgb(14, 151, 25); }
    100% { color: rgb(21, 255, 0); }
  }