.erroredit{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    min-height: 568px;
    max-height: auto;
    border: 1px solid #758BFD;
    border-radius: 5px;
    background-color: #758BFD;
    margin-left: calc( (100vw - 21rem)/2);
    margin-right: calc( (100vw - 20rem)/2);
    margin-top: calc( (100vh - 36rem)/2);
    margin-bottom: calc( (100vh - 39rem)/2);
}